header{
    padding-top: 45px;
    position: relative;
    #openSideMenu{
        position: absolute;
        top: 70px;
        right: 30px;
        cursor: pointer;
        z-index: 20;
    }
    @media (min-width: 768px) {
        #openSideMenu{
            display: none;
        }
    }
    .icon-bar:before {
        font-size: 26px;
        color: #7d7d7d;
        cursor: pointer;
    }
    .takadom-logo{
        padding-right: 75px;
        text-align: right;
        img{
            width: 203px;
            height: 75px;
        }
    }
    .vodafone-logo{
        text-align: left;
        position: relative;
        div{
            position: absolute;
            left: -15px;
            width: 214px;
            padding: 17px 0 17px 40px;
            border-top: 1px solid rgba(#e6e6e6, 1);
            border-bottom: 1px solid rgba(#e6e6e6, 1);
            border-right: 1px solid rgba(#e6e6e6, 1);
            border-radius: 0 77px 77px 0;
            span{
                display: block;
                text-align: right;
                margin-right: 50px;
                margin-bottom: 5px;
                font-size: 12.5px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.84;
                letter-spacing: normal;
                color: #404040;
            }
            img{
                width: 124px;
                height: 32px;
            }
       }
    }
    .section-name{
        text-align: right;
        padding-right: 390px;
        padding-top: 23px;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        span{
            font-size: 14px;
            font-weight: 300;
            line-height: 1.36;
            color: #7d7d7d;
        }
        h4{
            font-size: 17px;
            font-weight: 800;
            line-height: 1.12;
            color: #404040;
            margin-top: 5px;
        }
    }
    @media (max-width: 767px){
        .takadom-logo{
            padding-right: 20px;
            img{
                width: 180px;
                height: 65px;
            }
        }
        .vodafone-logo{
            text-align: left;
            div{
                position: absolute;
                width: 180px;
                padding: 10px 0 10px 20px;
                img{
                    width: 124px;
                    height: 32px;
                }
                span{
                    margin-right: 40px;
                }
           }
        }
        .section-name{
            padding-right: 70px;
            span{
                font-size: 12px;
            }
            h4{
                font-size: 13px;
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991px){
        .takadom-logo{
            padding-right: 30px;
        }
        .vodafone-logo{
            div{
                width: 150px;
                padding: 10px 0 10px 20px;
                img{
                    width: 100px;
                    height: 32px;
                }
                span{
                    margin-right: 40px;
                }
           }
        }
        .section-name{
            padding-right: 260px;
            span{
                font-size: 10px;
            }
            h4{
                font-size: 10px;
            }
        }
    }
    @media (min-width: 992px) and (max-width: 1999px){
        .section-name{
            padding-right: 360px;
            span{
                font-size: 12px;
            }
            h4{
                font-size: 14px;
            }
        }
    }
}