@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?55uqdi');
  src:  url('../fonts/icomoon.eot?55uqdi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?55uqdi') format('truetype'),
    url('../fonts/icomoon.woff?55uqdi') format('woff'),
    url('../fonts/icomoon.svg?55uqdi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face{
  font-family: 'GESSTextLight';
  src: url('../fonts/GE_SS_Unique_Light.otf');
  src: url('../fonts/stc.otf');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-write:before {
  content: "\e90a";
}
.icon-book:before {
  content: "\e900";
}
.icon-boy:before {
  content: "\e902";
}
.icon-minus:before {
  content: "\e906";
}
.icon-play .path1:before {
  content: "\e907";
  color: rgb(238, 77, 77);
}
.icon-play .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-play .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bar:before {
  content: "\e904";
}
.icon-exit:before {
  content: "\e905";
}
.icon-brain:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e903";
  color: #fff;
}